@keyframes moveX {
    15%, 45%, 75% {
        transform: translateX(-2px);
    }
    30%, 60%, 90% {
        transform: translateX(2px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}


@keyframes fadeInPopup {
    from {
        opacity: .8;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @keyframes moveIconToRight {
    from {
        left: 0;
    }
    to {
        left: calc(50% - 32.5px);
    }
} */